# Virtual Environment
.venv/

# Large Private Data Files 
Data/

# Python Caches
__pycache__/
*.pyc

# IDE / Editor folders
.idea/
.vscode/

# IPython / Jupyter Notebook Checkpoints
.ipynb_checkpoints/